<% @page_title = "Accueil" %>
<!-- Section - Home Start -->
<section id="home" class="home-bg-slider bg-gray-dark p-0 w-100">
    <!-- BG Slider -->
    <div class="carousel-custom carousel-fullscreen">      
        <div class="carousel-cell bg-cover bg-overlay-black-5 h-100 w-100">
            <div class="container h-100">
                <div class="row align-items-center h-100 justify-content-center">
                    <div class="col-lg-9 text-center">
                        <h2 class="font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-uppercase text-white title-sm-extra-large-2 title-extra-large-4">Je suis <%= @firstname %>!</h2>
                        <span class="d-block font-alt mt-2 opacity-9-5 text-white title-sm-extra-large title-extra-large-3">Développeur back-end</span>
                        <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large"><%= @age %> ans, marié et père d'une petite fille</span>
                        <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large">(Freelanceur)</span>
                        <a href="<%= mon_cv_index_path %>" class="page-scroll btn box-shadow-wide btn-base-color btn-large m-0 mt-4">En savoi plus</a>
                    </div>
                    <!-- //.col-lg-9 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
    </div>
    <!-- //.carousel-custom -->
</section>
<!-- //Section - Home End -->