/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.bg-gray-2:hover{
	background-color: #b64444 !important;
}

.connecter{
    padding-top: 20px !important;
    font-size: xx-large;
    color: white;
    position: absolute;
    right: 5px;
}

.connecter:hover{
    color: #c80a48;    
}

.creer-compte{
    padding-top: 20px !important;
    font-size: xx-large;
    color: #a4a4dd;    
}

.creer-compte:hover{
    color: #03f5ca;    
}

.deconnecter{
    padding-top: 20px !important;
    font-size: xx-large;
    color: red;
}

.logo{
	height: 100%;
	position: absolute;
	left: 0px;
}

.navbar .nav-link:hover {
    color: #c80a48 !important;
    font-weight: bold;
}

.profile-perso{
    background-color: #7e2a5a !important;
}

.photos-profile{
    height: 80% !important;
}

.contact{
    color: #c80a48;
}

.contact:hover{
    color: #fb3c7a;
}

.btn-base-color:hover{
    -webkit-box-shadow: -2px 1px 5px 11px rgba(255,255,255,1) !important;
    -moz-box-shadow: -2px 1px 5px 11px rgba(255,255,255,1) !important;
    box-shadow: -2px 1px 5px 11px rgba(255,255,255,1) !important;
}

footer{
    padding: 50px !important;
}