<!-- Footer End -->
<footer class="bg-gray-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <ul class="m-0 p-0">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/ax.twoo" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-facebook ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/AndryHajanirina" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-twitter ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/andry-hajanirina-andrianjatoharinavalona-5a15a9160" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-linkedin ease"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Andryhajanirina" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                            <i class="fa fa-github ease"></i>
                        </a>
                    </li>
                </ul>

                <br>

                <p>
                    <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Contact Details:</span>
                    <ul class="list-unstyled mt-2 text-gray text-large">
                        <li>Andry Hajanirina</li>
                        <li class="pt-2">Lot SI 60 Bis Soavina - Antananarivo</li>
                        <li class="pt-2"><i class="fa fa-phone ease"></i> +261 33 09 433 87</li>
                    </ul>
                </p>

                <p class="m-0 mt-4 text-gray text-medium">
                    <a href="mailto:andryhaj@gmail.com" class="contact"><i class="fa fa-envelope ease"></i> andryhaj@gmail.com</a>
                </p>

                <p class="m-0 mt-4 text-gray text-medium">
                    <a href="https://www.andryhajanirina.herokuapp.com" class="contact"><i class="fa fa-globe ease"></i> https://andryhajanirina.herokuapp.com</a>
                </p>
                
                <p class="m-0 mt-4 text-gray text-medium">&copy; 2018 KTN Freelance. All rights reserved.</p>

            </div>
            <!-- //.col -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</footer>
<!-- //Footer End -->